server:
  port: 9191

spring:
  application:
    name: API-GATEWAY
  cloud:
    gateway:
      routes:
        - id: VIDEO-SERVICE
          uri: lb://VIDEO-SERVICE
          predicates:
            - Path=/videos/**
        - id: VIDEO-RECOMMENDATION-SERVICE
          uri: lb://VIDEO-RECOMMENDATION-SERVICE
          predicaties:
            - Path=/video-recommendations/**

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
    instance:
      hostname: localhost
